img {
  height: 500px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 6px 10px 35px 5px rgba(0,0,0,0.8)
}

video {
  height: 500px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 6px 10px 35px 5px rgba(0,0,0,0.8)
}

.videoTile {
  display: inline-block;
}
.videoTitle {
  color: white;
  font-weight: bold;
  font-size: 18px;
}