.icon-climbing {
  -webkit-mask: url("../images/Hobbys/Climbing.svg");
  mask: url("../images/Hobbys/Climbing.svg");
}

.icon-coding {
  -webkit-mask: url("../images/Hobbys/Coding.svg");
  mask: url("../images/Hobbys/Coding.svg");
}

.icon-reading {
  -webkit-mask: url("../images/Hobbys/Reading.svg");
  mask: url("../images/Hobbys/Reading.svg");
}

.icon-drawing {
  -webkit-mask: url("../images/Hobbys/Drawing.svg");
  mask: url("../images/Hobbys/Drawing.svg");
}


@media (orientation: landscape) {
  
  
  .icon {
    display: block;
    background: #333333;
    width: 70px;
    height: 70px;
    -webkit-mask-size: cover;
    mask-size: cover;
    
  }
}

@media (orientation: portrait) {
  .cv-category h2 {
    font-size: 6vw;
  }
  .cv-point h3 {
    font-size: 5vw;
  }

  .cv-point h4 {
    font-size: 4.5vw;
  }

  .cv-point h5 {
    font-size: 4vw;
  }

  .cv-point p {
    font-size: 3vw;
  }
  
  /*CV Publications*/
  .publications h3 {
    font-size: 1.3em;
  }

  .publications h4 {
    font-size: 1.2em;
  }
  .publications h5 {
    font-size: 1.1em;
    font-style: italic;
  }
  .publications p {
    font-size: 1em;
  }
  
  /* Hobbies */
  .icon {
    display: block;
    background: #333333;
    width: 10vw;
    height: 10vw;
    -webkit-mask-size: cover;
    mask-size: cover;
    
  }
}



.cv-category {
  grid-column-start: 1;
  justify-self: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 40px #000;
  -moz-box-shadow: 0px 0px 40px #000;
  -webkit-box-shadow: 0px 0px 40px #000;
  padding: 20px 40px;
  text-align: center;
  margin-bottom: 40px;
  width: 80%;
  max-width: 800px;
  color: #000;
}


.cv-category h2 {
  color: #000;
}

.cv-category hr {
  border-top: 3px solid #006DD2;
  margin-bottom: 20px;
}

.cv-point {
  margin-bottom: 10px;
  box-shadow: 0px 0px 7px .1px inset #bbb;
  -moz-box-shadow: 0px 0px 7px .1px inset #bbb;
  -webkit-box-shadow: 0px 0px 7px .1px inset #bbb;
  border-radius: 7px;
  padding: 20px;
}

.cv-point a {
  text-decoration: none;
  color: black;
}

.publications h3 {
  font-size: 1.3em;
}

.publications h4 {
  font-size: 1.2em;
}
.publications h5 {
  font-size: 1.1em;
  font-style: italic;
}
.publications p {
  font-size: 1em;
}

.hobbies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-auto-flow: dense;
  grid-row-gap: 10px;
  justify-items: center;
}

.hobbies p {
  font-weight: bold;
  color: #333333;
}

.hobby {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-content: center;
  justify-items: center;
}
