
html, body {
  height: 100%;
}

h1 {
  color: #f0f0f0;
  display: block;
  text-align: center;
  font-size: 8vw;
  font-size: 4em;
  margin-top: 20px;
}

#container {
  position: relative;
  display: grid;
  grid-template-columns: 100px auto;
  min-height: 100%;
}

#gradient-transition {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

}


.green-background {
  background: linear-gradient(45deg, #65a32a 0%, #003006 100%);
}
.blue-background {
  background: linear-gradient(45deg, #006DD2 0%, #003362 100%);
}
.purple-background {
  background: linear-gradient(45deg, #78039c 0%, #2e0063 100%);
}
.red-background {
  background: linear-gradient(45deg, #d82900 0%, #333333 100%);
}

nav {
  grid-column-start: 1;
  z-index: 99;
  display: grid;
  grid-template-rows: auto auto auto;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100px;
  min-height: 100%;
  background: rgba(51,51,51,0.85);
  justify-items: center;
  align-items: center;
}



nav a:hover {
  color: #757575;
}
nav a {
  text-decoration: none !important;
  color: #ffffff;
  text-align: center;
}

nav a i {
  font-size: 45px;
}


.active {
  color: #757575;
}

main {
  z-index: 99;
  grid-column-start: 2;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(12em, 0.6fr) auto;
  justify-items: center;
  justify-content: center;
}

